* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('../font/BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.mobile-menu {
    display: none;
}

.container {
    max-width: 90rem;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    color: white;
    height: 5.875rem;
    position: fixed;
    z-index: 2;
    width: 100%;
    left: 0;
    top: 0;
    border-bottom: .0625rem solid rgba(235, 235, 240, 0.2);
    transition: background-color 0.2s, height 0.2s;
}

.header {
    padding-top: 5.875rem;
}

.header-image {
    background-image: url("/img/bg-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom -2rem;
    position: relative;
}

.header-image::before {
    content: "";
    position: absolute;
    background: rgba(41, 45, 51, 0.75);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.navbar-logo {
    padding: 1.5625rem 3.125rem;
    border-right: .0625rem solid rgba(235, 235, 240, 0.2);
    height: 100%;
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    flex-basis: 100%;
    list-style: none;
    padding: 0;
    padding-left: 3.125rem;
    margin: 0;
    gap: 6.5px;
}

.header-nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 4%;
}

.header-nav-link {
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    color: inherit;
    position: relative;
}

.header-nav-link:after {
    content: "";
    width: 0px;
    height: 2px;
    position: absolute;
    bottom: -1px;
    background-color: #5C8EE6;
    transition: width 0.2s;
    right: 0;
    left: auto;
}

.header-nav-link:hover::after {
    width: 100%;
    right: auto;
    left: 0;
}

.header-phone {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: .625rem;
    margin-right: 3.125rem
}

.header-phone-link {
    text-decoration: none;
    font-size: 1rem;
    color: inherit;
}

.button {
    font-weight: 600;
    font-size: 1rem;
    line-height: 160%;
    color: white;
    background: #5C8EE6;
    padding: 1.5625rem 3.75rem;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.button-text {
    font-weight: 600;
    font-size: 1rem;
    line-height: 160%;
    margin-left: 15px;
}

.navbar-button {
    flex-shrink: 0;
    height: 102%;
    padding: .0625rem .0625rem;
    width: 17.8125rem;
}

.navbar-button .button-icon {
    display: none;
}

.separator {
    background: #5C8EE6;
    width: 150px;
    height: .125rem;
}

.header-content {
    padding-top: 9.375rem;
    position: relative;
    z-index: 1;
    color: white;
    left: 10px;
}

.header-title {
    max-width: 67.5rem;
    font-family: 'Bebas Neue Book';
    font-weight: 800;
    font-size: 4.6875rem;
    line-height: 127%;
    margin: 1.4375rem 0;
    letter-spacing: .1700rem;
    word-spacing: -0.1rem;
}

.header-text {
    max-width: 45rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    margin-bottom: 3.125rem;
    margin-top: 2.5rem;
}

.header-features {
    display: flex;
    align-items: stretch;
    padding: 0;
    margin-top: 4.3rem;
    margin-bottom: auto;
    list-style: none;
    color: white;
    position: relative;
}

.header-button {
    padding: 1.625rem 3.75rem;
}

.header-features-items {
    width: 18rem;
    height: auto;
    padding: 1.75rem 3.125rem;
    border: .0625rem solid rgba(235, 235, 240, 0.2);
}

.header-features-text {
    font-size: 1rem;
    line-height: 160%;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 1.125rem;
}

.slider-buttons {
    display: none;
    height: 3.5rem;
}

.slider-button-prev,
.slider-button-next {
    height: 100%;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-arrow,
.header-arrow {
    border: .0625rem solid rgba(235, 235, 240, 0.2);
}

.main-arrow,
.main-arrow {
    background: #5C8EE6;
}

.slider-buttons-main {
    display: none;
    height: 40px;
    width: 120px;
    float: right;
}

.main-arrow-literally {
    width: 30px;
    height: 20px;
}

.section {
    margin-top: 9.375rem;
    margin-left: 1.25rem;
    margin-bottom: 9.375rem;
}

.production {
    margin-top: -1.5625rem;
    margin-left: 1.0625rem;
}

.section-title {
    font-family: 'Bebas Neue Book';
    font-weight: 800;
    font-size: 3.75rem;
    line-height: 120%;
    color: #292D33;
    margin-top: 1.5rem;
}

.second {
    letter-spacing: .0187rem;
}

.third {
    letter-spacing: .0313rem;
}

.steps {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1.875rem;
    margin: auto;
}

.steps-item {
    height: auto;
    max-width: 20.625rem;
}

.steps-num {
    font-family: 'Bebas Neue Book';
    font-weight: 25rem;
    font-size: 3rem;
    line-height: 120%;
    color: #5c8ee6;
    display: flex;
    align-items: center;
}

.steps-num:after {
    content: "";
    height: .0625rem;
    background: #EBEBF0;
    width: 100%;
    margin-left: 1.875rem;
}

.steps-title {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 160%;
    color: #292D33;
    margin-top: 35px;
    width: 6.25rem;
}

.steps-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: #828A99;
    margin-top: -14px;
}

.steps-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    line-height: 160%;
    color: #5C8EE6;
    margin-top: 1.25rem;
}

.steps-link:before {
    content: "";
    height: .0625rem;
    width: 2.5rem;
    margin-right: 1.25rem;
    background: #5C8EE6;
    width: 2.5rem;
    margin-right: 1rem;
    transition: width 0.2s;
}

.steps-link:hover:before {
    width: 3.75rem;
}

.cards {
    width: 101%;
    margin-top: 3.625rem;
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 37rem;
    text-decoration: none;
    flex-basis: 33%;
    border: .0625rem solid #EBEBF0;
    position: relative;
    transition: border 0.2s;
}

.card:hover .card-title {
    color: #5C8EE6;
}

.card:hover {
    border-color: #5C8EE6;
}

.card-content {
    padding: 2.5rem 0;
    margin-left: 3.125rem
}

.card-title {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 140%;
    color: #292D33;
    margin-top: 0;
    margin-bottom: 0.625rem;
    transition: color 0.2s;
}

.card-text {
    font-size: 1rem;
    line-height: 160%;
    color: #828a99;
    margin-top: .875rem;
    padding-right: 5.625rem;
}

.card-image {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.card-brand {
    padding-left: 3.125rem;
    height: 17.5rem;
    text-decoration: none;
    flex-basis: 50%;
    border: .0625rem solid #EBEBF0;
    transition: border 0.2s;
    display: flex;
    align-items: center;
}

.cards-brand {
    margin-top: 3.4375rem;
    display: flex;
    width: 100%;
}

.card-content-brand {
    margin-top: -0.1875rem;
    padding-left: 3rem;
}

.card-image-brand {
    max-width: 100%;
    z-index: 0;
}

.card-brand:hover .card-title {
    color: #5C8EE6;
}

.card-brand:hover {
    border-color: #5C8EE6;
}

@media(max-width:1700px) {
    html {
        font-size: 14px;
    }

    .logo-light {
        max-width: 9rem;
    }

    .header-image {
        background-position: center;
    }
}

@media(max-width:1460px) {
    html {
        font-size: 13px;
    }

    .header-log {
        padding: 2rem;
    }

    .header-nav {
        padding-left: 2rem;
    }

    .header-nav-item:not(:last-child) {
        margin-right: 1rem;
    }

    .header-phone {
        margin-right: 2rem;
    }
}

@media(max-width:1200px) {
    .slider-buttons {
        display: flex;
    }


    .container {
        max-width: 70rem;
    }

    .header-phone {
        display: none;
    }

    .navbar {
        height: 5.2rem;
    }

    .logo-light {
        max-width: 9rem;
    }

    .card {
        flex-basis: 50%;
    }
}

@media(max-width:992px) {
    body {
        overflow-x: hidden;
    }

    hmtl {
        font-size: 12px;
    }

    .slider-buttons-main {
        display: flex;
    }

    .bye {
        overflow: hidden;
    }

    .container {
        max-width: 60rem;
    }

    .header-nav {
        display: none;
    }

    .header-features {
        margin-top: 4.3rem;
    }

    .slider-buttons {
        height: 3.1rem
    }

    .navbar-logo {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
    }

    .mobile-menu-toggle {
        width: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2.05rem 2.3rem;
        border-right: 1px solid rgba(235, 235, 240, 0.2);
    }

    .mobile-menu-line {
        height: 1px;
        background-color: white;
        transition: transform 0.2s;
    }

    .mobile-menu-line:nth-child(1) {
        width: 100%;
    }

    .mobile-menu-line:nth-child(3) {
        width: 100%;
    }

    .navbar-button .button-text {
        display: none
    }

    .navbar-button .button-icon {
        color: white;
        display: block;
        padding: 0 30px;
    }

    .navbar-button {
        width: 80px;
    }

    .button {
        line-height: 18px;
    }

    .header-button {
        display: flex;
        font-size: 14px;
        align-items: center;
        justify-content: center;
        padding: 1.625rem 6rem;
        margin-top: -11px;
    }

    .is-open {
        display: block;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        z-index: 2;
        background-color: white;
        padding-top: 5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .mobile-menu-nav {
        list-style: none;
        padding: 0;
    }

    .mobile-menu-nav-item {
        margin-bottom: 2rem;
    }

    .mobile-menu-link {
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 160%;
        color: #292D33;
    }

    .mobile-sub-menu {
        list-style-type: none;
        padding: 0;
        padding-left: 1rem;
        margin-top: 1rem;
    }

    .mobile-sub-menu-link {
        text-decoration: none;
        color: #828a99;
        font-size: 14px;
        line-height: 160%;
    }

    .mobile-phone {
        display: block;
        font-weight: 600;
        font-size: 20px;
        line-height: 160%;
        color: #292D33;
        text-decoration-line: underline;
        border-top: 1px solid #EBEBF0;
        padding-top: 2rem;
        margin-bottom: 1.5rem;
    }

    .mobile-info {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .mobile-info-property {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: #292D33;
    }

    .card {
        flex-basis: 100%;
    }

    .section {
        margin: 100px 0 30px 0;
    }

    .section-title {
        font-size: 36px;
    }

    .steps-num {
        font-size: 48px;
    }

    .steps-title {
        font-size: 20px;
        margin-top: 10px;
    }

    .steps-text {
        font-size: 14px;
    }

    .separator {
        width: 100px;
    }
}

@media(max-width:768px) {
    .container {
        max-width: 40rem;
    }

    .header-title {
        font-size: 4rem;
    }

    .header-content {
        padding-top: 3rem;
    }
}

@media(max-width:576px) {
    .container {
        max-width: 90%;
    }

    .header-title {
        margin-top: 17px;
        font-size: 3.5rem;
        letter-spacing: 1.5px;
    }

    .header-text {
        font-size: 14px;
        margin-top: -5px;
        padding-right: 10px;
    }

    .header-content {
        margin-left: -13px;
        padding-top: 3.2rem;
    }
}